html,
body {
  height: 100%;
  font-family: $font-family;
  font-size: $main-font-size;
  line-height: $main-line-height;
  color: $gray-darken-3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
