.btn {
  display: inline-block;
  padding: 10px 25px;
  font-size: $secondary-font-size;
  line-height: $secondary-line-height;
  color: $white;
  border: none;
  border-radius: $border-radius;
  background: $main-theme;
  outline: none;
  cursor: pointer;

  &--wide {
    min-width: 222px;
  }

  &--full-width {
    display: block;
    width: 100%;
  }

  @include hover {
    background: darken($main-theme, 10%);
  }

  @include active {
    background: darken($main-theme, 10%);
  }
}
