.btn {
  display: inline-block;
  padding: 13px 25px;
  font-size: 17px;
  line-height: 19px;
  color: $white;
  border: none;
  border-radius: $border-radius;
  background: $main-theme;
  outline: none;
  cursor: pointer;

  @include hover {
    background: darken($main-theme, 10%);
  }

  @include active {
    background: darken($main-theme, 10%);
  }
}
