
svg {
  display: block;
}
path.arc {
  opacity: 0.9;
  transition: opacity 0.5s;
}
path.arc:hover {
  opacity: 0.7;
}
.axis line, .axis circle  {
  stroke: #cccccc;
  stroke-width: 1px
}
.axis circle {
  fill: none;
}
.r.axis text {
  text-anchor: end
}
.tooltip {
  position: absolute;
  display: none;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  box-shadow: -3px 3px 15px #888;
  color: white;
  padding: 6px;
}


.chart {
  display: flex;
  justify-content: space-between;
}



//linear

.axis path {
  display: none;
}

.x-axis line {
  stroke-opacity: 0.4;
}

.y-axis line {
  stroke-opacity: 0.4;
}

.axis text {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
}

.y-axis line {
  stroke-dasharray: 1, 2;
  stroke-width: 1;
}

.y-axis .tick text {
  text-anchor: end;
}

text, button {
  font-family: Montserrat, sans-serif;
}

.preview-axis.x-axis .tick:nth-child(2) text {
  text-anchor: start;
}

.preview-axis.x-axis .tick:nth-child(3) text {
  text-anchor: end;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


.domain {
  opacity: 0.1;
}

.tick text {
  fill: $gray;
}


.legend {
  font-size: 0;
  white-space: nowrap;
  margin-left: 50px;
}

.legend-column {
  position: relative;
  // width: 322px;
  display: inline-block;
  vertical-align: middle;
}

.legend-item {
  display: flex;
  margin-bottom: 12px;
  font-size: 12px;
  letter-spacing: 0.3px;
  cursor: pointer;
  position: relative;

  &.disabled {
    opacity: .3;
  }
}

.legend-item-text {
  line-height: 20px;
}

.legend-value {
  position: absolute;
  left: -65px;
  font-weight: normal;
  top: 3px;
}

.legend-date {
  position: absolute;
  top: -22px;
  left: -65px;
  font-size: 10px;
  letter-spacing: 0.3px;
}

.legend-item-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 14px;
}
