.checkbox {
  display: inline-block;
  cursor: pointer;
  
  &__input {
    display: none;
    visibility: hidden;
  }

  &__label {
    position: relative;
    padding-left: 25px;
    display: block;
    font-family: $font-family;
    font-size: 17px;
    line-height: 19px;
    // font-size: $main-font-size;
    // line-height: $main-line-height;
    text-align: left;
    color: #AFADAE;
    white-space: nowrap;

    @include hover {
      color: darken(#AFADAE, 10%);
    }

    .checkbox__input:checked ~ & {
      color: $main-theme;

      @include hover {
        color: darken($main-theme, 5%);
      }
    }
    

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 14px;
      height: 14px;
      box-sizing: border-box;
      border: 1px solid #cccccc;
      border-radius: 2px;

      .checkbox__input:checked ~ & {
        border-color: $main-theme;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 3px;
      width: 9px;
      height: 6px;
      // top: 3px;
      // left: 4px;
      // width: 9px;
      // height: 5px;
      display: none;
      border-bottom: 2px solid $main-theme;
      border-left: 2px solid $main-theme;
      transform: rotate(-50deg);

      .checkbox__input:checked ~ & {
        display: block;
      }
    }
  }
}
