.close-btn {
  position: absolute;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;

  svg {
    fill: $gray-lighten-0;

    @include hover {
      fill: darken($gray-lighten-0, 10%);
    }
  }
}
