.files-list {
  margin: 0;
  margin-top: 65px;
  padding: 0;
  list-style: none;

  &__item {
    position: relative;
    border-bottom: 2px solid $gray-darken-0;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__label {
    font-size: $secondary-font-size;
    line-height: $secondary-line-height;

    &--name {
      color: $main-theme;
    }

    &--date {
      color: $gray-blue;
      line-height: 35px;
    }
  }

  &__close {
    @extend .close-btn;

    top: 5px;
    right: 0;
  }
}
