.form {
  padding-right: 10px;
  padding-left: 10px;

  &--login {
    padding-right: 65px;
    padding-left: 65px;
  }

  &__row {
    display: flex;
    margin-bottom: 29px;
  }

  &__col {

    &--left {
      flex-basis: 205px;
      flex-shrink: 0;
    }

    &--right {
      flex-grow: 1
    }
  }

  &__field {
    margin-bottom: 15px;

    .form--params-auto & {
      margin-bottom: 32px;
    }

    &--mg-top-lg {
      margin-top: 19px;
    }
  }

  &__input-group {
    display: flex;

    & > * {
      width: 100%;
    }

    & > *:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__label {
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: #373A3C;
  }

  &__result {
    margin-top: 15px;
    color: $gray;
  }

  &__forgot-password {
    margin-top: 25px;

    .link,
    svg {
      font-size: 14px;
      // line-height: 22px;
      vertical-align: middle;
    }

    svg {
      margin-right: 15px;
      margin-left: -30px;
    }
  }

  &__footer {
    margin-top: 82px;
    text-align: center
  }
  
}
