.form {

  &--login {
    padding-right: 55px;
    padding-left: 55px;
  }

  &__input-group {
    display: flex;

    *:not(:last-child) {
      margin-right: 30px;
      flex-grow: 1;
    }
  }

  &__result {
    margin-top: 15px;
    color: $gray;
  }

  &__forgot-password {
    text-align: center;

    .link,
    svg {
      font-size: 14px;
      // line-height: 22px;
      vertical-align: middle;
    }

    svg {
      margin-right: 15px;
      margin-left: -30px;
    }
  }

  &__submit {
    @extend .btn;

    margin: 82px auto 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 222px;
    display: block;
  }
  
}
