.info-bar {
  display: flex;
  margin-top: 65px;

  &__item {

    &:not(:last-child) {
      margin-right: 120px;
    }
  }

  &__label {
    font-size: $secondary-font-size;
    line-height: $secondary-line-height;
    color: $gray-darken-1;
  }

  &__data {
    font-size: 30px;
    line-height: 62px;
    color: $main-theme;
  }
}
