.input {
  $padding-right: 10px;

  position: relative;
  width: 100%;
  border: 1px solid $gray;
  border-radius: $border-radius;

  &--double {
    display: flex;
  }

  &__field {
    padding: 8px 10px 10px 10px;
    padding-right: $padding-right;
    width: 100%;
    font-family: $font-family;
    font-size: $secondary-font-size;
    line-height: $secondary-line-height;
    color: $gray-darken-2;
    background: $white;
    border: none;
    border-radius: inherit;
    outline: none;
    
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none; 
      margin: 0;
    }

    @include focus {
      background: none;
      border-color: darken($gray-darken-2, 10%);
    }
    
    @include placeholder {
      color: $gray-darken-2;
    }

    .input--text-center & {
      text-align: center;
    }
  }

  &__devider {
    align-self: center;
    font-size: 16px;
    line-height: 24px;
    color: $gray-darken-2;
  }

  &__meta {
    position: absolute;
    top: 50%;
    right: $padding-right;
    transform: translateY(-50%);
    font-size: 16px;
    line-height: 24px;
    color: $gray-darken-2;
  }

  svg {
    fill: $gray-darken-1;
    cursor: pointer;

    @include hover {
      fill: darken($gray-darken-1, 10%);
    }
  }
}

input[type="file"] {
  display: none;
}
