.select {
  $arrow-height-large: 7px;
  $arrow-height: 6px;

  position: relative;
  border: 1px solid $gray;
  border-radius: $border-radius;

  &:hover {
    border-color: darken($gray, 10%);
  }

  &--category {
    border-color: $main-theme;

    &:hover {
      border-color: darken($main-theme, 10%);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(calc(-#{$arrow-height} / 2));
    border-width: $arrow-height 4px;
    border-style: solid;
    border-color: $gray-darken-1 transparent transparent transparent;

    @include hover {
      border-top-color: darken($gray-darken-1, 10%);
    }
  }

  &--category::before {
    right: 15px;
    transform: translateY(calc(-#{$arrow-height-large} / 2));
    border-width: $arrow-height-large 5px;
    border-color: $main-theme transparent transparent transparent;

    @include hover {
      border-top-color: darken($main-theme, 10%);
    }
  }

  &__field {
    margin: 0;
    width: 100%;
    padding: 6px 8px 6px 15px;
    font-family: $font-family;
    font-size: 16px;
    line-height: 24px;
    color: $gray-darken-2;
    border: none;
    border-radius: inherit;
    background-color: $white;
    appearance: none;
    outline: none;
    cursor: pointer;

    .select:hover & {
      color: darken($gray-darken-2, 10%);
    }

    .select--category & {
      padding: 12px 37px 12px 18px;
      font-size: $secondary-font-size;
      line-height: $secondary-line-height;
      color: $main-theme;
    }

    .select--category:hover & {
      color: darken($main-theme, 10%);
    }
  }
}
