.user-role {
  position: relative;
  width: 320px;
  height: 90px;
  padding: 28px 10px 15px 15px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  
  &:hover {
    box-shadow: $box-shadow;
  }

  &__avatar {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  &__info {
    margin-left: 12px;
  }

  &__name {
    position: relative;
    color: $secondary-theme;
    line-height: 20px;
    text-decoration: none;

    &::before {
      content: "";
      position: absolute;
      top: 6px;
      right: -15px;
      border-width: 6px 4px;
      border-style: solid;
      border-color: $secondary-theme transparent transparent transparent;
    }

    .user-role:hover &::before {
      top: 1px;
      border-top-color: transparent;
      border-bottom-color: $secondary-theme;
    }

    &:hover,
    &:active {
      color: $main-theme;
    }
  }

  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    margin: 0;
    padding: 0;
    padding: 25px;
    display: none;
    list-style: none;
    width: 100%;
    background: $white;

    .user-role:hover & {
      display: block;
    }
 
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -2;
      box-shadow: $box-shadow;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 23px;
    }
  }

  &__link {
    display: block;
    color: gray;
    text-decoration: none;

    &:hover,
    &:active {
      color: darken($gray, 25%);
    }

    svg,
    span {
      display: inline-block;
      vertical-align: middle;
    }

    span {
      margin-left: 22px;
    }
  }
}
