<article class="modal">
  <div class="modal__content">
    <h1 class="modal__title">Авторизация</h1>
    <form action="" class="form form--login">
      <div class="form__field">
        {{> input type="text" name="user-login" placeholder="Логин"}}
      </div>
      <div class="form__field">
        <div class="input">
          <input type="password" class="input__field" name="user-password" placeholder="Пароль" />
          <span class="input__meta">
              {{{ icon name="eye" width="24" height="15" height=iconHeight mods="eye" }}}
          </span> 
        </div>           
      </div>
      <div class="form__field">
        {{> checkbox name="rememberPassword" label="Запомнить пароль"}}
      </div>
      <div class="form__footer">
        <button class="btn btn--wide">Показать</button>
        <div class="form__forgot-password">
          {{{ icon name="lock" width="18" height="26" }}}
          <a href="#" class="link">Забыли пароль?</a>
        </div>
      </div>
    </form>
    <button class="modal__close">
      {{{ icon name="close" width="13" height="14"}}}
    </button>
  </div>
</article>
