<article class="modal modal--params-auto">
  <div class="modal__content">
    <h1 class="modal__title">Выберите нужные параметры</h1>
    <form action="" class="form form--params-auto">
      <div class="form__field">
        <label for="#category" class="form__label">Марка автомобиля</label>
        <div class="select">
          <select id="category" class="select__field">
            <option value="">Audi</option>
            <option value="">Выберите категорию</option> 
            <option value="">Выберите категорию</option> 
          </select>
        </div>
      </div>
      <div class="form__field">
        <label for="#category" class="form__label">Модель автомобиля</label>
        <div class="select">
          <select id="category" class="select__field">
            <option value="">Audi</option>
            <option value="">Выберите категорию</option> 
            <option value="">Выберите категорию</option> 
          </select>
        </div>
      </div>
      <div class="form__field">
        <label for="#category" class="form__label">Год выпуска</label>
        <div class="select">
          <select id="category" class="select__field">
            <option value="">2010</option>
            <option value="">2011</option> 
            <option value="">2012</option> 
          </select>
        </div>
      </div> 
      <div class="form__footer">
        <button class="btn">Показать</button>
      </div>
    </form>
    <button class="modal__close">
      {{{ icon name="close" width="13" height="14"}}}
    </button>
  </div>
</article>
