<div class="tabs" id="tabs-charts">
  <input type="radio" id="tab-chart-0" data-tab="0" name="tab-chart" checked="checked">
  <input type="radio" id="tab-chart-1" data-tab="1" name="tab-chart">
  <input type="radio" id="tab-chart-2" data-tab="2" name="tab-chart">
  <div class="tabs__nav">
    <label class="tabs__nav-item" for="tab-chart-0">
      <span>Круговой<br />график</span>
    </label>
    <label class="tabs__nav-item" for="tab-chart-1">
      <span>Линейный<br />график</span>
    </label>
    <label class="tabs__nav-item" for="tab-chart-2">
      <span>Гистограмма</span>
    </label>
  </div>
  <div class="tabs__content">
    <div class="tabs__pane">
      <div id="circle-chart"></div>
    </div>
    <div class="tabs__pane">
      Tabs-2
    </div>
    <div class="tabs__pane">
      Tab-3
    </div>
  </div>
</div>
