<div class="tags">
  <a href="#" class="tags__item">Квартира/апартаменты</a>
  <a href="#" class="tags__item">Комнаты/доля в квартире</a>
  <a href="#" class="tags__item">З/у (для индив.пользования)</a>
  <a href="#" class="tags__item">З/у с индиви.жил.домом</a>
  <a href="#" class="tags__item">Автотранспорт</a>
  <a href="#" class="tags__item">Гаражи/машиноместа </a>
  <a href="#" class="tags__item">Спецтехника и самоходные механизмы</a>
  <a href="#" class="tags__item">Технологические линии </a>
  <a href="#" class="tags__item">Коммерция < 100 м<sup>2</sup></a>
  <a href="#" class="tags__item">Коммерция 101–300 м<sup>2</sup></a>
  <a href="#" class="tags__item">Коммерция 301–1000 м<sup>2</sup></a>
  <a href="#" class="tags__item">Коммерция 1001–3000 м<sup>2</sup></a>
  <a href="#" class="tags__item">Коммерция 3001–5000 м<sup>2</sup></a>
  <a href="#" class="tags__item">Спец.оборудование до 10 ед.объектов</a>
  <a href="#" class="tags__item">Спец.оборудование > 11 ед.объектов</a>
</div>
