<div class="toolbar">
  <div class="toolbar__item">
    <button class="toolbar__action">
      {{{ icon name="update" width="29" height="29" }}}
      <span class="toolbar__text">обновить <br /> очередь</span>
    </button>
  </div>
  <div class="toolbar__item">
    <button class="toolbar__action">
      {{{ icon name="xls" width="25" height="31" }}}
      <span class="toolbar__text">скачать <br /> файл</span>
    </button>
  </div>
  <div class="toolbar__item">
    <button class="toolbar__action">
      {{{ icon name="new" width="28" height="28" }}}
      <span class="toolbar__text">Создать <br /> новый запрос</span>
    </button>
  </div>
  <div class="toolbar__item">
    <span class="toolbar__counter toolbar__counter--total">4 368</span>
    <span class="toolbar__text">всего <br /> запросов</span>
  </div>
  <div class="toolbar__item">
    <span class="toolbar__counter toolbar__counter--category">368</span>
    <span class="toolbar__text">всего <br /> запросов</span>
  </div>
</div>
